div{
color: lightcoral;
background-color: cornflowerblue;

}

p{
color: cyan;
font-size: 45px;
font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-color: coral;
}
h1{
    color: rgb(92, 205, 205);
    color:border
}